/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.navbar.navbar-expand-lg .navbar-nav .nav-item{
	font-size: 20px;
	padding: 0 0 0 2%;

}
.navbar.navbar-expand-lg .navbar-brand{
	font-size: 20px;
	padding: 0 0 0 2%;

}
.container-fluid.my-banner .row{
	display: flex;
	  flex-wrap: wrap;
	  flex-direction: column-reverse;
   /* so that items wrap */
}
.container-fluid.my-banner .row .col-lg-6.col-md-12.col-sm-12.txt-header{
	text-align: center;
	margin: 5% 0 0 0;
	
}
.container-fluid.my-banner .col-lg-6.col-md-12.col-sm-12.img-header img{
	margin: 10% auto 0px auto;
	width: 100%;
}
.container-fluid.my-banner h1{
	font-size: 40px;

}
.container-fluid.my-banner h3{
	font-size: 20px;

}
.container-fluid.my-banner h5{
	font-size: 15px;

}
.btn.btn-ybr{
	background: #FBC84F;
	color: #141F35;
	font-size: 20px;
}
.container-fluid.my-banner{
	background: #141F35;
	padding: 14%;
	color: #FFFFFF;
	text-align: left;
}
.container-fluid.why-mentoring{
	padding: 10%;
}
.container-fluid.why-mentoring .row{
	display: flex;
	  flex-wrap: wrap;
	  flex-direction: column-reverse;

}
.container-fluid.umum img{
	width: 100%;
}
.container-fluid.umum{
	padding: 10%;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
/*@media only screen and (min-width: 600px) {...}*/

/* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (min-width: 768px) {...}*/

/* Large devices (laptops/desktops, 992px and up) */
/*@media only screen and (min-width: 992px) {...}*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.navbar.navbar-expand-lg .navbar-nav .nav-item{
	font-size: 25px;

}
.navbar.navbar-expand-lg .navbar-brand{
	font-size: 25px;

}
.container-fluid.my-banner h1{
	font-size: 60px;

}
.container-fluid.my-banner h3{
	font-size: 40px;

}
.container-fluid.my-banner h5{
	font-size: 20px;

}
.btn.btn-ybr{
	background: #FBC84F;
	color: #141F35;
	font-size: 20px;
	padding: 10px;
}
.container-fluid.my-banner{
	background: #141F35;
	padding: 14%;
	color: #FFFFFF;
	text-align: left;
}
.container-fluid.umum img{
	width: 80%;
}
.container-fluid.my-banner img{
	display: block;
	margin: 0px auto 0px auto;
	width: 80%;
}
.container-fluid.why-mentoring{
	padding: 4%;
}
.container-fluid.umum{
	padding: 4%;
}
}
  body{
	background-color: whitesmoke;
	font-family: serif;
}
.title-section{
	font-weight: bold;
}

.navbar.navbar-expand-lg{
	background-color: #141F35;
	padding: 1%;	
}

.container-fluid.my-banner .txtybr{
	font-weight: bold;
	color: #FBC84F;
}
.container-fluid.why-mentoring{
	padding: 4%;
	background: #FFFFFF;
	color: #141F35;
	text-align: center;
}

.container-fluid.why-mentoring .row{
	padding: 3%;
	vertical-align: middle;
}
.container-fluid.why-mentoring .row p{
	font-size: 20px;
}
.container-fluid.why-mentoring .row .col-sm-6{
/*	vertical-align: middle;*/
	margin: auto;
}
.container-fluid.why-mentoring img{
	width: 100%;
}

.container-fluid.umum{
	background: #141F35;
	color: #FFFFFF;
	text-align: center;
}
.container-fluid.umum .row{
	padding: 3%;
	vertical-align: middle;
}
.container-fluid.umum .row p{
	font-size: 20px;
}
.container-fluid.umum .row .col-sm-6{
/*	vertical-align: middle;*/
	margin: auto;
}


/*}*/