 /*Extra small devices (phones, 600px and down) */
 @media (max-width: 990px) {
.navbar.navbar-expand-lg .navbar-nav .nav-item{
	font-size: 20px;
	padding: 0 0 0 2%;	
}
.navbar.navbar-expand-lg .navbar-brand{
	font-size: 20px;
	padding: 0 0 0 2%;
}
.container-fluid.my-banner .row{
	display: flex;
	  flex-wrap: wrap;
	  flex-direction: column-reverse;
   /* so that items wrap */
}
.container-fluid.my-banner .row .col-lg-6.col-md-12.col-sm-12.txt-header{
	text-align: center;
	margin: 5% 0 0 0;	
}
.container-fluid.my-banner .col-lg-6.col-md-12.col-sm-12.img-header img{
	margin: 10% auto 0px auto;
	width: 100%;
}
.container-fluid.my-banner h1{
	font-size: 40px;

}
.container-fluid.my-banner h3{
	font-size: 20px;
}
.container-fluid.my-banner h5{
	font-size: 15px;
}
.btn.btn-ybr{
	font-size: 20px;
}
.btn.btn-ybr-biru{
	font-size: 20px;
}
.container-fluid.my-banner{
	background: #141F35;
	padding: 14%;
	color: #FFFFFF;
	text-align: left;
}
.title-section{
	font-size: 30px;
}
.container-fluid.why-mentoring{
	padding: 10%;
}
.container-fluid.why-mentoring .row{
	display: flex;
	  flex-wrap: wrap;
	  flex-direction: column-reverse;
}
.container-fluid.portofolio .row{
	display: flex;
	  flex-wrap: wrap;
	  flex-direction: column-reverse;
   /* so that items wrap */
}
.container-fluid.why-mentoring .row .col-lg-6.col-md-12.col-sm-12{
	padding: 2% 0 0 0;

}
.container-fluid.why-mentoring p{
	font-size: 15px;
}
.container-fluid.why-mentoring .row .col-lg-6.col-md-12.col-sm-12 p{
	font-size: 19px;
}
.container-fluid.umum img{
	width: 90%;
}
.container-fluid.umum{
	padding: 10%;
}
.container-fluid.umum .row .col-lg-6.col-md-12.col-sm-12{
	padding: 5% 0px 0px 0px;
}
.container-fluid.umum p{
	font-size: 15px;
}
.container-fluid.umum .row .col-lg-6.col-md-12.col-sm-12 p{
	font-size: 19px;
}
.container-fluid.portofolio{
	padding: 14% 4% 14% 4%;
	text-align: center;
	
}
.container-fluid.portofolio {
	padding: 14% 4% 14% 4%;
	text-align: left;
		
}
.container-fluid.portofolio img{
	width: 100%;

}
.container-fluid.portofolio h1{
	font-size: 40px;
}
.container-fluid.portofolio h3{
	font-size: 20px;
}

.container-fluid.portofolio .row .col-lg-6.col-md-12.col-sm-12{
	padding: 5% 10% 5% 10%;
}
.container-fluid.portofolio .row .col-lg-6.col-md-12.col-sm-12 ul{
	padding-left: 5%;
}
.container-fluid.portofolio .row .col-lg-6.col-md-12.col-sm-12 ul li{
	font-size: 16px;/*
	margin-left: 0px;
	list-style-type: none;*/
}
.container-fluid.kata-client{
	padding: 14% 4% 14% 4%;
}

.container-fluid.kata-client .row .col-lg-12.col-md-12.col-sm-12{
	padding: 4% 10% 4% 10%;

}
.container-fluid.kata-client p{
	font-size: 15px;

}
.container-fluid.kata-client .row .col-lg-12.col-md-12.col-sm-12 p{
	font-size: 19px;

}
.container-fluid.kata-client .row .col-lg-12.col-md-12.col-sm-12 p .kata-client-judul{
	font-size: 19px;
	font-weight: bold;
}
.container-fluid.kata-client .row .col-lg-12.col-md-12.col-sm-12 p .kata-client-paket{
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
}
.container-fluid.footer {
	padding: 14%;
}
.container-fluid.footer .row .col-lg-4.col-md-6.col-sm-12{
	padding: 0% 0% 0% 0%;
}
.container-fluid.footer .row .col-lg-4.col-md-6.col-sm-12 h1{
	font-size: 22px;
}
.container-fluid.footer .row .col-lg-4.col-md-6.col-sm-12 p{
	font-size: 20px;
}
.container-fluid.footer .row .col-lg-4.col-md-6.col-sm-12 ul{
	padding-left: 0px;
}
.container-fluid.footer .row .col-lg-4.col-md-6.col-sm-12 ul li{
	font-size: 20px;
	list-style-type: none;
}
.container-fluid.footer .row .col-lg-4.col-md-6.col-sm-12 ul li a{
	color: #FFFFFF;
}

}


 /*Large devices (laptops/desktops, 992px and up) */
@media (min-width: 1000px) {
.navbar.navbar-expand-lg .navbar-nav .nav-item{
	font-size: 20px;


}
.navbar.navbar-expand-lg .navbar-brand{
	font-size: 20px;

}
.container-fluid.my-banner h1{
	font-size: 40px;

}
.container-fluid.my-banner h3{
	font-size: 20px;

}
.container-fluid.my-banner h5{
	font-size: 18px;

}
.btn.btn-ybr{
	font-size: 20px;
	padding: 10px;
}
.btn.btn-ybr-biru{
	font-size: 20px;
	padding: 10px;

}
.container-fluid.my-banner{
	background: #141F35;
	padding: 14% 10% 14% 10%;
	color: #FFFFFF;
	text-align: left;
}
.container-fluid.umum img{
	width: 80%;
}
.container-fluid.my-banner img{
	display: block;
	margin: 0px auto 0px auto;
	width: 100%;
}
.container-fluid.why-mentoring{
	padding: 4%;
}
.container-fluid.why-mentoring .row .col-lg-6.col-md-12.col-sm-12{
	margin: auto;
	padding: 0% 0 0 0;
}
.title-section{
	font-size: 40px;
}
.container-fluid.why-mentoring p{
	font-size: 20px;
}
.container-fluid.why-mentoring .row .col-lg-6.col-md-12.col-sm-12 p{
	font-size: 20px;
}
.container-fluid.umum{
	padding: 4%;
}
.container-fluid.umum .row .col-lg-6.col-md-12.col-sm-12{
	padding: 5% 0 0 0;
}
.container-fluid.umum p{
	font-size: 20px;
}
.container-fluid.umum .row .col-lg-6.col-md-12.col-sm-12 p{
	font-size: 20px;
}
.container-fluid.umum img{
	width: 80%;
}
.container-fluid.portofolio{
	padding: 4% 5% 4% 5%;
}
.container-fluid.portofolio img{
	width: 100%;
	margin: 0px auto 0px auto;

}
.container-fluid.portofolio h1{
	font-size: 50px;
}
.container-fluid.portofolio h3{
	font-size: 20px;
}
.container-fluid.portofolio .row .col-lg-6.col-md-12.col-sm-12 ul{
	padding-left: 4%;
}
.container-fluid.portofolio .row .col-lg-6.col-md-12.col-sm-12 ul li{
	font-size: 18px;
}
.container-fluid.kata-client{
	padding: 14% 4% 14% 4%;
}

.container-fluid.kata-client .row .col-lg-12.col-md-12.col-sm-12{
	padding: 4% 10% 4% 10%;

}
.container-fluid.kata-client p{
	font-size: 15px;

}
.container-fluid.kata-client .row .col-lg-12.col-md-12.col-sm-12 p{
	font-size: 19px;

}
.container-fluid.kata-client .row .col-lg-12.col-md-12.col-sm-12 p .kata-client-judul{
	font-size: 19px;
	font-weight: bold;
}
.container-fluid.kata-client .row .col-lg-12.col-md-12.col-sm-12 p .kata-client-paket{
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
}
}


 /*Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
.navbar.navbar-expand-lg .navbar-nav .nav-item{
	font-size: 25px;

}
.navbar.navbar-expand-lg .navbar-brand{
	font-size: 25px;

}
.container-fluid.my-banner h1{
	font-size: 60px;

}
.container-fluid.my-banner h3{
	font-size: 40px;

}
.container-fluid.my-banner h5{
	font-size: 20px;

}
.btn.btn-ybr{
	font-size: 20px;
	padding: 10px;
}
.btn.btn-ybr-biru{
	font-size: 20px;
	padding: 10px;

}
.container-fluid.my-banner{
	background: #141F35;
	padding: 14%;
	color: #FFFFFF;
	text-align: left;
}
.container-fluid.umum img{
	width: 80%;
}
.container-fluid.my-banner img{
	display: block;
	margin: 0px auto 0px auto;
	width: 80%;
}
.container-fluid.why-mentoring{
	padding: 4%;
}
.container-fluid.why-mentoring .row .col-lg-6.col-md-12.col-sm-12{
	margin: auto;
	padding: 0% 0 0 0;
}
.title-section{
	font-size: 40px;
}
.container-fluid.why-mentoring p{
	font-size: 20px;
}
.container-fluid.why-mentoring .row .col-lg-6.col-md-12.col-sm-12 p{
	font-size: 25px;
}
.container-fluid.umum{
	padding: 4%;
}
.container-fluid.umum .row .col-lg-6.col-md-12.col-sm-12{
	padding: 5% 0 0 0;
}
.container-fluid.umum p{
	font-size: 20px;
}
.container-fluid.umum .row .col-lg-6.col-md-12.col-sm-12 p{
	font-size: 25px;
}
.container-fluid.umum img{
	width: 80%;
}
.container-fluid.portofolio{
	padding: 4% 9% 4% 9%;
}
.container-fluid.portofolio img{
	width: 100%;
	margin: 0px auto 0px auto;

}
.container-fluid.portofolio h1{
	font-size: 60px;
}
.container-fluid.portofolio h3{
	font-size: 30px;
}
.container-fluid.portofolio .row .col-lg-6.col-md-12.col-sm-12 ul li{
	font-size: 20px;

}
.container-fluid.kata-client{
	padding: 4%;
}

.container-fluid.kata-client .row .col-lg-12.col-md-12.col-sm-12{
	padding: 4% 18% 4% 18%;

}
.container-fluid.kata-client p{
	font-size: 20px;

}
.container-fluid.kata-client .row .col-lg-12.col-md-12.col-sm-12 p{
	font-size: 25px;

}
.container-fluid.kata-client .row .col-lg-12.col-md-12.col-sm-12 p .kata-client-judul{
	font-size: 25px;
	font-weight: bold;
}
.container-fluid.kata-client .row .col-lg-12.col-md-12.col-sm-12 p .kata-client-paket{
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
}
.container-fluid.kata-client .row .col-lg-12.col-md-12.col-sm-12 .carousel.slide .carousel-inner .carousel-item{
	padding: 5%;
	height: 400px;
	margin: auto;
}
.container-fluid.footer {
	padding: 4%;
}
.container-fluid.footer .row .col-lg-4.col-md-6.col-sm-12{
	padding: 0% 3% 0% 3%;
}
.container-fluid.footer .row .col-lg-4.col-md-6.col-sm-12 h1{
	font-size: 22px;
}
.container-fluid.footer .row .col-lg-4.col-md-6.col-sm-12 p{
	font-size: 20px;
}
.container-fluid.footer .row .col-lg-4.col-md-6.col-sm-12 ul{
	padding-left: 0px;
}
.container-fluid.footer .row .col-lg-4.col-md-6.col-sm-12 ul li{
	font-size: 20px;
	list-style-type: none;
}
.container-fluid.footer .row .col-lg-4.col-md-6.col-sm-12 ul li a{
	color: #FFFFFF;
}
.container-fluid.footer .row .col-lg-12.col-md-6.col-sm-12{
	padding: 0% 13% 0% 3%;
}
}
  body{
	background-color: whitesmoke;
	font-family: serif;
}
.container-fluid.my-banner{
	background: #141F35;
	color: #FFFFFF;
}
.container-fluid.why-mentoring .title-section{
	font-weight: bold;
}

.navbar.navbar-expand-lg{
	background-color: #141F35;
	padding: 1%;	
}
.btn.btn-ybr{
	background: #FBC84F;
	color: #141F35;
}
.btn.btn-ybr-biru{
	background: #141F35;
	color: #FBC84F;

}
.container-fluid.my-banner .txtybr{
	font-weight: bold;
	color: #FBC84F;
}
.container-fluid.why-mentoring{
	background: #FFFFFF;
	color: #141F35;
	text-align: center;
}
.container-fluid.why-mentoring .row{
	padding: 3%;
	vertical-align: middle;
}

.container-fluid.why-mentoring .row .col-lg-6.col-md-12.col-sm-12{
	margin: auto;
}
.container-fluid.why-mentoring img{
	width: 100%;
}

.container-fluid.umum{
	background: #141F35;
	color: #FFFFFF;
	text-align: center;
}
.container-fluid.umum .row{
	padding: 3%;
	vertical-align: middle;
}
.container-fluid.umum .row p{
	font-size: 20px;
}
.container-fluid.umum .row .col-lg-6.col-md-12.col-sm-12{
	margin: auto;
}

.container-fluid.portofolio{
	background: #FFFFFF;
	color: #000000;
}
.container-fluid.portofolio img{
	margin: 0px auto 0px auto;

}
.container-fluid.portofolio .row{
	
	vertical-align: middle;
}
.container-fluid.portofolio .row .col-lg-6.col-md-12.col-sm-12{
	/*vertical-align: middle;*/
	margin: auto;
}
.container-fluid.portofolio .txtybr{
	font-weight: bold;
	color: #141F35;
}
.container-fluid.kata-client{
	background: #FBC84F;
	text-align: center;
}
.container-fluid.footer {
	background: #071c47;
	align-content: center;
	color: #FFFFFF;
}
.container-fluid.footer .row{

	vertical-align: middle;
}

