
.card-header{
	margin-top: 10rem;
	background: none;
	width: 33.5%;
	height: auto;
	margin: auto;
	border: none;
	color: #000000;
}

.container{
	margin-top: 70px;
}
.form-control{
	margin-left: 5px;
}
.card-footer{
	background: none;
	width: 33.5%;
	height: auto;
	margin: auto;
	border: none;
	color: #000000;
	text-align: center;
}
.btn{
	margin-left: 80%;
}
.daf a{
	color: #000000;
	text-decoration: none;
}
.daf a:hover{
	color: white;
	background: black;
}
h2{
	text-align: center;
}